* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.caixa-superior {
    background-image: url("./img/dev.png");
    height: 90vh;
    width: 100vw;
    background-size: cover;
}

.menu-superior {
    padding-top: 25px;
    padding-left: 35px;
}

.logo-superior {
    font-size: 24px;
    color: #ffffff;
    display: inline;
}

.link-superior {
    font-size: 14px;
    color: #ffffff;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 58px;
    color: #ffffff;
    position: relative;
    top: 400px;
    margin-left: 35px;

}

form {
    
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #ffffff;
    border-radius: 10px;
    float: right;
    padding: 20px;
    margin-right: 50px;
    position: relative;
    bottom: 70px;
    

}

.mostrar-formulario{
   opacity: 1;
}

input {
    display: block;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 356px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;

}

textarea {
    display: block;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 130px;
    width: 250px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.titulo-form {
    font-size: 24px;
    color: #252B42;
    margin-bottom: 30px;
    text-align: center;
}

label {
    font-size: 14px;
    color: #252B42;
    ;
}


button{
    height: 50px;
    width: 250px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #40bb15;
    color: #ffffff ;
    
}

.caixa-central{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#titulo-meio{
    font-size: 40px;
    color: #252B42;
    text-align: center;  
    position: relative;
    left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.card{
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px;
}

.titulo-card{
    background: #219653 ;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0  0;

}

ul {
    padding: 20px;
}

li{
    margin-bottom: 5px;
    margin-left: 10px;
}

.caixa-inferior{
    background-color: #00095d;
    
   
}

#titulo-inferior{
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    
}

.paragrafo-inferior{
font-size: 18px;
color: #ffffff;
text-align: center;
padding: 20px 50px 50px 50px;
}